.main-container {
    padding: 10px;
    margin: 0 auto;
}

.upload-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.image-list {
    width: 1200px;
    padding: 5px;
    margin: 0 auto;
}

.image-grid {
    display: grid;
    background-color: #2a2c35;
    border: 1px solid #2a2c35;
    margin-bottom: 10px;
    height: 40px;
    grid-template-columns: 3fr 2fr 2fr 2fr 2fr 1fr 1fr 1fr;
}

.button {
    border: none;
    font-size: 12px;
    color: #a1aabc;
    background-color: #2a2c35;
    cursor: pointer;
    text-transform: uppercase;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
    letter-spacing: 0.2px;
    outline: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.button:hover {
    color: #74cf65;
}

.update{
    border: none;
    color: #454545;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description-name {
    display: flex;
    align-items: center;
    padding-left: 25px;
    font-size: 15px;
}

.description-size {
    display: flex;
    align-items: center;
    padding-left: 25px;
    font-size: 13px;
}
