.loading-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.loading-modal.hidden {
    display: none;
}

.loading-message {
    color: white;
    font-size: 24px;
}
